.dashboard-content-alunos{
  padding: 50px auto 50px auto;
  justify-content:center;
  display:flex;
  gap:30px;
}
.dashboard-card-alunos{
    margin: 50px auto 50px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: left;
    width:300px;
    height: 160px;
    background:white;
    overflow:hidden;
    transition:0.3s;
}
.estatistica-alunos{
  font-size:26px;
  font-style: normal;
  margin:10px 10px 5px 22px;
}
.estatistica-alunos-img{
    width:53px;
    height:53px;
    object-fit:cover;
    margin:15px 10px 0px 22px;
}
.informe-alunos{
    color:#2e2b2b;
    font-size:22px;
    margin-bottom: 20px;
    font-weight: bold;
}
.convida-alunos{
  display:flex;
  width: 100%;
  justify-content:space-between;
}
#ver-todos{
  font-size: 15px;
}

.card-alunos{
    width:360px;
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 5px 18px rgba(0,0,0,0.08);
    transition:0.3s;
}
.card-alunos img{
    width:100%;
    height:220px;
    object-fit:cover;
}
.info-card-alunos{
    padding:15px;
}
.info-card-alunos h3{
    margin-top:40px;
    margin-bottom:10px;
}
.info-formador-alunos{
    color:#667;
    font-size:12px;
    line-height:1.5;
    border-bottom:2px solid #ececec;
    padding: 15px 0 15px 0;
    
}
.cursos-card-alunos{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
}
.btn-curso-alunos{
    background:#2563eb;
    color:white;
    text-decoration:none;
    text-align: center;
    padding:10px 15px;
    border-radius:6px;
    margin-top: 10px;
    font-size:14px;
    width: 100%;
}

/* ====== Registar ======== */
.pagina-registo{
    background:#f5f5f5;
    padding:60px 20px;
    min-height:70vh;
}

.caixa-registo{
    max-width:500px;
    margin:auto;
    background:#fff;
    padding:40px;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.caixa-registo h2{
    text-align:center;
    margin-bottom:30px;
}

.caixa-registo form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.caixa-registo input{
    width:100%;
    padding:14px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:15px;
}

.caixa-registo button{
    background:#2563eb;
    color:white;
    border:none;
    padding:14px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}
/* =========== LOGIN  ============== */
   
.pagina-login{
    background:#f5f5f5;
    min-height:70vh;
    padding:60px 20px;
}

.caixa-login{
    max-width:450px;
    margin:auto;
    background:#fff;
    padding:40px;
    border-radius:16px;
    box-shadow:0 2px 12px rgba(0,0,0,0.08);
}

.caixa-login h2{
    text-align:center;
    margin-bottom:10px;
}

.subtitulo{
    text-align:center;
    color:#6b7280;
    margin-bottom:30px;
}

.campo-login{
    position:relative;
    margin-bottom:20px;
}

.campo-login i{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
    color:#9ca3af;
}

.campo-login input{
    width:100%;
    padding:14px 14px 14px 45px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:15px;
}

.btn-login{
    width:100%;
    background:#2563eb;
    color:white;
    border:none;
    padding:14px;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
}

.btn-login:hover{
    background:#1d4ed8;
}

.link-registo{
    text-align:center;
    margin-top:20px;
}

.link-registo a{
    color:#2563eb;
    text-decoration:none;
    font-weight:600;
}

.erro{
    background:#fee2e2;
    color:#dc2626;
    padding:12px;
    border-radius:8px;
    margin-bottom:20px;
    text-align:center;
}