
/* PESQUISA */
.pesquisa-cursos{
    background:#f5f5f5;
    
}

/* ÁREA */
.pesquisa-area{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top: 15px;
    margin-bottom: 25px;
}
.filter{
    display:flex;
    align-items:center;
    gap:8px;
}

.pesquisa-area select{
    width:200px;
    height:30px;
    border:1px solid #e5e5e5;
    border-radius:10px;
    padding-left: 10px;
    font-size:13px;
  }

.input-pesquisa{
    position:relative;
    width:100%;
}

/* ÍCONE */
.input-pesquisa i{
    position:absolute;
    left:20px;
    top:50%;
    transform:translateY(-50%);
    color:#999;
    font-size:14px;
}

/* INPUT */
.input-pesquisa input{
    width:100%;
    height:35px;
    border:1px solid #e5e5e5;
    border-radius:12px;
    padding-left:50px;
    font-size:14px;
    outline:none;
}

/* PLACEHOLDER */
.input-pesquisa input::placeholder{
    color:#999;
    font-size:14px;
}

/* PÁGINA CURSOS */
.pagina-cursos{
    padding:20px 20px;
}

#contagem-cursos{
    color:#2e2b2b;
    font-size:14px;
    margin-bottom: 10px;
}

/* INFO */
.info-card{
    padding:15px;
}

.categoria{
    background:#e0edff;
    color:#2563eb;
    font-style: normal;
    font-size: 15px;
    padding:5px 10px;
    border-radius:10px;
    margin-left: 15px;
}

.nivel{
    background:#dbf1e1;
    color:#2563eb;
    font-style: normal;
    font-size: 15px;
    padding:5px 10px;
    border-radius:10px;
}

.destaque-categoria{
    display: flex;
    justify-content: space-between;
   
}
.info-card h3{
    margin-top:40px;
    margin-bottom:10px; 
   
}

.info-card p{
    color:#667;
    font-size:14px;
    line-height:1.5;
}
.info-formador{
    color:#667;
    font-size:12px;
    line-height:1.5;
    border-bottom:2px solid #ececec;
    padding:15px;
    margin-left:10px;
}

/* FOOTER CARD */
.cursos-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
}

.preco{
    color:#2563eb;
    font-size:20px;
    font-weight:normal;
}

.btn-curso{
    background:#2563eb;
    color:white;
    text-decoration:none;
    padding:10px 15px;
    border-radius:6px;
    font-size:14px;
}