/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f5f7fb;
    color:#222;
}

/* =========================
   CONTAINER
========================= */

.container{
    width:1200px;
    margin:0 auto;
}

/* =========================
   TOPO
========================= */

.topo{
    width:100%;
    height:72px;
    background:#fff;
    border-bottom:1px solid #ececec;
}

/* MENU */

.menu{
    height:72px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

/* LOGO */

.menu h2{
    font-size:18px;
    color:#1457db;
    font-weight:700;
}

/* LINKS */

.links{
    display:flex;
    align-items:center;
    gap:35px;
}

.links a{
    text-decoration:none;
    color:#666;
    font-size:14px;
    transition:0.3s;
}

.links a:hover,
.links .ativo{
    color:#1457db;
}

/* AÇÕES */

.acoes{
    display:flex;
    align-items:center;
    gap:20px;
}

.acoes button{
    border:none;
    background:none;
    cursor:pointer;
    font-size:14px;
    color:#666;
    transition:0.3s;
    display:flex;
    align-items:center;
    gap:8px;

}

.acoes button:hover{
    color:#1457db;
}

/* BOTÃO REGISTAR */

.acoes .btn{
    background:#1457db;
    color:white;
    padding:11px 20px;
    border-radius:8px;
    font-weight:bold;
}

.acoes .btn:hover{
    background:#0f49bb;
    color:white;
}

/* =========================
   BANNER
========================= */

.banner{
    width:100%;
    height:360px;
    background:linear-gradient(90deg,#0057e7 0%,#3f83f8 100%);
}

/* CONTEÚDO BANNER */

.banner-content{
    height:370px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:white;
}

/* TITULO */

.banner h1{
    width:760px;
    font-size:42px;
    font-weight:600;
    margin-bottom:15px;
}

/* TEXTO */

.banner p{
    font-size:18px;
    color:#ebebeb;
    margin-bottom:35px;
}

/* BOTÕES BANNER */

.botoes{
    display:flex;
    align-items:center;
    gap:18px;
}

.banner button{
    height:52px;
    padding:0 32px;
    border-radius:10px;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

/* BOTÃO BRANCO (EXPLORAR CURSOS)*/

.banner .btn{
    background:white;
    border:none;
    color:#1457db;
    font-weight:bold;
    display:flex;
    align-items:center;
    gap:8px;
}

.banner .btn:hover{
    background:#f2f2f2;
}

/* BOTÃO TRANSPARENTE (COMEÇAR) */

.banner button:last-child{
    background:transparent;
    border:1px solid rgba(255,255,255,0.4);
    color:white;
}

.banner button:last-child:hover{
  background:rgba(255,255,255,0.08);
}

/*DASHBOARD */

.dashboard-index{
  background: white;
  width: 100%;
  height: 260px;
}

.dashboard-content{
  padding: 50px auto 50px auto;
  justify-content:center;
  display:flex;
  gap:100px;
}


.dashboard-card{
    margin: 50px auto 50px auto;
    text-align: center;
    width:200px;
    height: 150px;
    justify-content: center;
    background:white;
    overflow:hidden;
    transition:0.3s;
}

.dashboard-card h3{
  font-size:26px;
  margin:22px 22px 12px 22px;
}

.dashboard-card p{
    margin:0 22px 20px 22px;
    color:#666;
    line-height:26px;
    font-size:15px;
}

.dashboard-card img{
    width:53px;
    height:53px;
    object-fit:cover;
}


/*   TITULO CURSOS
========================= */

.destaque-cursos{
  background: rgba(255,255,255,0.4);

}
.titulo{
    text-align:center;
    margin-top:90px;
    margin-bottom:50px;
    font-size:42px;
    color:#1d1d1d;
}

/* =========================
   CURSOS
========================= */

.cursos{
    width:1200px;
    margin:0 auto 110px auto;
    display:flex;
    justify-content:center;
    gap:35px;
}

/* CARD */

.card{
    width:360px;
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 5px 18px rgba(0,0,0,0.08);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-6px);
}

/* IMAGEM */

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

/* TITULO CARD */

.card h3{
    font-size:26px;
    margin:22px 22px 12px 22px;
}

/* TEXTO CARD */

.card p{
    margin:0 22px 20px 22px;
    color:#666;
    line-height:26px;
    font-size:15px;
}

/* PREÇO */

.card span{
    display:block;
    margin:0 22px 25px 22px;
    color:#1457db;
    font-size:28px;
    font-weight:bold;
}

/* =========================
   CTA
========================= */

.cta{
    width:100%;
    padding:50px 20px;
    background:linear-gradient(90deg,#0057e7 0%,#3f83f8 100%);
    text-align:center;
    color:white;
    margin-bottom: 50px;
}

/* TITULO CTA */

.cta h2{
    font-size:25px;
    margin-bottom:15px;
  }
  
  .cta p{
    margin-bottom:30px;
    
}

/* BOTÃO CTA */

.cta .btn{
    background:white;
    color:#1457db;
    border:none;
    padding:16px 38px;
    border-radius:10px;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

.cta .btn:hover{
    background:#f2f2f2;
}

/* =========================
   RESPONSIVO
========================= */

@media(max-width:1250px){

    .container,
    .cursos{
        width:95%;
    }

    .banner h1{
        width:100%;
        font-size:56px;
        line-height:62px;
    }
}

@media(max-width:900px){

    .menu{
        flex-direction:column;
        justify-content:center;
        gap:15px;
        height:auto;
        padding:20px 0;
    }

    .links{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero-content{
        text-align:center;
        align-items:center;
    }

    .banner h1{
        font-size:42px;
        line-height:48px;
    }

    .banner p{
        font-size:17px;
    }

    .botoes{
        flex-direction:column;
        width:100%;
    }

    .banner button{
        width:100%;
    }

    .cursos{
        flex-wrap:wrap;
    }

    .card{
        width:100%;
    }

    .cta h2{
        font-size:34px;
    }
}