.dashboard-content-formador{
  padding: 50px auto 50px auto;
  justify-content:center;
  display:flex;
  gap:30px;
}
.dashboard-card-formador{
    margin: 50px auto 50px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: left;
    width:300px;
    height: 160px;
    background:white;
    overflow:hidden;
    transition:0.3s;
}
.gestao-formador{
    display:flex;
    width: 100%;
    justify-content:space-between;
}
.novo-curso{
    background:#1457db;
    border-radius:8px;
    width: 180px;
    height: 50px;
    border: none;
    
}
.novo-curso a{
    justify-content: center;
    font-size: 15px;
    align-items:center;
    color:white;
    display: flex;
    gap: 8px;
}
.novo-curso:hover{
    background:#0f49bb;
    transition:0.3s;
}
.estatistica-formador{
  font-size:26px;
  font-style: normal;
  margin:10px 10px 5px 22px;
}
.estatistica-formador-img{
    width:53px;
    height:53px;
    object-fit:cover;
    margin:15px 10px 0px 22px;
}
.meus-cursos{
    padding:60px 20px;
    background:#f5f5f5;
}

.box-cursos{
    background:white;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
    overflow:hidden;
}

.box-cursos h2{
    padding:25px;
    font-size:26 px;
    border-bottom:1px solid #eee;
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#f8f7f7ee;
}

th{
    padding:18px;
    text-align:left;
    font-size:13px;
    color:#555;
}

td{
    padding:18px;
    border-top:1px solid #eee;
}

.curso-info{
    display:flex;
    align-items:center;
    gap:15px;
}

.curso-info img{
    width:65px;
    height:45px;
    border-radius:8px;
    object-fit:cover;
}

.curso-info h4{
    margin:0;
    font-size:16px;
}

.curso-info p{
    margin-top:5px;
    color:#777;
    font-size:12px;
}

.tag{
    padding:8px 14px;
   border-radius:20px;
    font-size:12px;
}

.azul{
    background:#e8f0ff;
    color:#2563eb;
}

.verde{
    background:#eaf8ee;
    color:#16a34a;
}

.estrela{
    color:#f59e0b;
}

.acoes-formador i{
    margin-right:15px;
    cursor:pointer;
}

.editar{
    color:#2563eb;
}

.apagar{
    color:red;
}